*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --t-red: ;
  --t-blue: ;
  --t-green: ;
  --t-alpha: ;
  --red: ;
}

body {
  display: flex;
  height: 100vh;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(211, 211, 211);
  padding: 10px;
}

aside {
  flex: 2;
  background-color: rgb(211, 211, 211);
}
main {
  flex: 5;
  background-color: rgb(211, 211, 211);

  #screen {
    position: relative;
    background-color: brown;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    h1 {
      font-size: 2rem;
      z-index: 1;
    }
    .target {
      position: absolute;
      background-color: burlywood;
      height: 35%;
      width: 8em;
      background: rgba(210, 189, 189, $alpha: 0.04);
      box-shadow: 0 8px 32px 0 rgba(14, 15, 18, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.06);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%) rotate3d(5, 1, 1, -32deg);

      &:nth-child(2) {
        top: 55%;
        left: 60%;
        z-index: 0;
      }
      &:nth-child(3) {
        top: 13%;
        left: 10%;
        z-index: 2;
        transform: translate(-50%, -50%) rotate3d(5, 1, 1, 0deg);
        height: 10%;
        width: 11em;
      }
      &:nth-child(4) {
        top: 45%;
        left: 65%;
        z-index: 3;
      }
      &:nth-child(5) {
        bottom: 5%;
        right: -9.2%;
        z-index: 2;
        transform: translate(-50%, -50%) rotate3d(5, 1, 1, 0deg);
        height: 10%;
        width: 8em;
        border-radius: 10px 0 0 10px;
      }
    }
  }
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 10px;
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .name {
    display: flex;
    justify-content: space-between;

    .indicator {
    }
  }
}
