*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --t-red: ;
  --t-blue: ;
  --t-green: ;
  --t-alpha: ;
  --red: ;
  --text: #f4f4f4;
  --header: #0a0a2b;
  //#624cab;
  //#588157;
  --prim-color: var(--screen-bg);
  --bg: #04052e;
  --screen-bg: brown;
  --screen-text: #fff;
}

body {
  color: var(--text);
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(211, 211, 211);
  background-color: var(--bg);
}
header {
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: var(--header);
  width: 100vw;
  padding: 0 10%;

  h2 {
    color: var(--prim-color);
    span {
      // filter: blur(1px);
      color: var(--text);
    }
  }
}
article {
  display: flex;
  height: 100vh;
  padding: 10px;
  padding: 10px 10%;
  @media screen and (max-width: 1024px) {
    // flex-direction: column;
    min-height: 100vh;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    min-height: 100vh;
  }
  @media screen and (max-width: 500px) {
    flex-direction: column;
    // min-height: 150vh;
  }
}

aside {
  flex: 2;
  padding-left: 10px;
  @media screen and (max-width: 770px) {
    padding-bottom: 40px;
    // flex: 2;
    // min-height: 100vh;
  }
  pre {
    width: 100%;
    background: #2d2d2d;
    // margin: 1px;
    border-radius: 10px;

    code {
      width: 10%;
      color: #ccc;
      font-family: Source Sans Pro;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: greyscale;
      text-rendering: optimizeLegibility;
      font-size: 14px;
    }
  }
}
main {
  flex: 5;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px) {
    flex: 6;
  }
  @media screen and (max-width: 500px) {
    flex: 2;
    // min-height: 100vh;
  }
  #screen {
    position: relative;
    background-color: var(--screen-bg);
    height: 50%;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width: 750px) {
      min-height: 300px;
    }
    h1 {
      font-size: 2rem;
      z-index: 1;
      color: var(--screen-text);

      @media screen and (min-width: 2560px) {
        font-size: 4rem;
      }
    }
    .target {
      position: absolute;
      background-color: burlywood;
      height: 35%;
      width: 8em;
      background: rgba(189, 189, 189, $alpha: 0.04);
      box-shadow: 0 8px 32px 0 rgba(14, 15, 18, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.06);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%) rotate3d(5, 1, 1, -32deg);

      &:nth-child(2) {
        top: 55%;
        left: 60%;
        z-index: 0;
        @media screen and (min-width: 2560px) {
          left: 50%;
        }
      }
      &:nth-child(3) {
        top: 28%;
        left: 10%;
        z-index: 2;
        transform: translate(0%, -50%) rotate3d(5, 1, 1, 0deg);
        border-radius: 50%;
        height: 60px;
        width: 60px;
        @media screen and (min-width: 1440px) {
          height: 100px;
          width: 100px;
        }
      }
      &:nth-child(4) {
        top: 45%;
        left: 65%;
        z-index: 3;
        @media screen and (min-width: 2560px) {
          left: 55%;
        }
      }
      &:nth-child(5) {
        bottom: 5%;
        right: 0%;
        z-index: 2;
        transform: translate(0%, -50%) rotate3d(5, 1, 1, 0deg);
        height: 15%;
        width: 5em;
        border-radius: 10px 0 0 10px;
        @media screen and (max-width: 500px) {
          width: 2em;
        }
      }
    }
  }
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 10px;
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .name {
    display: flex;
    justify-content: space-between;
  }
}

.btn {
  padding: 10px;
  width: 100px;
  background-color: var(--prim-color);
  border: none;
  border-radius: 5px;
  color: var(--screen-text);
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.social-sect {
  margin-top: 20px;
  .social-link {
    margin-right: 2px;
    margin-bottom: 10px;
    display: flex;
    svg {
      margin-right: 5px;
    }
    &:active svg,
    &:active p {
      color: var(--screen-bg);
    }
  }
}
